/*
    This file contains the styles for the application.
*/
/*
    The styles for the pacman loader component.
*/
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.category-text {
    background-color: #9a7de2;
    color: rgba(252, 250, 252, 0.83); 
    padding: 4px 25px; 
    border-radius: 4px; 
    display: inline-block; 
    margin-top: 1px; 
}
.category-header{
    background-color: #997de2f9; 
    color: rgba(246, 243, 239, 0.781); 
    padding: 5px; 
    border-radius: 10px;
    display: block; 
    margin: 30px auto; 
    text-align: center;
}

.category-paper{
    background-color: #96949682;
    padding: 30px;
    margin: auto;
    border-radius: 10px;

}
/*
    The styles for the login page components.
*/
.welcome{
    background-color: #919695;
    background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
    padding: 8px;
}
.paper{
background-color: #919695;
background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
padding: 50px 100px;
margin: auto;
}

.login-paper{
    background-color: #96949682;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    width: max-content;
}

.login-p{
background-color: #919695;
background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
padding: 160px;
margin: auto;
}

.login-text {
    color: #f7fafae2;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    margin-left: 23%;
    font-style: italic;

}
/*
    The styles for the form component.
*/

.form-group{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group input{
    border-radius: 5px;
}

.form-group button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.form-group button:hover{
    background-color: #ecb2ec;
    color: #f1c8a6;
}

.form-group label {
    border-radius: 5px;
}

.button{
    margin-left: 35%;
}