
.category-text {
    background-color: #9a7de2;
    color: rgba(252, 250, 252, 0.83); 
    padding: 4px 25px; 
    border-radius: 4px; 
    display: inline-block; 
    margin-top: 1px; 
}
.category-header{
    background-color: #997de2f9; 
    color: rgba(246, 243, 239, 0.781); 
    padding: 5px; 
    border-radius: 10px;
    display: block; 
    margin: 30px auto; 
    text-align: center;
}

.back{
    background-color: #373635;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.login-paper{
    background-color: #96949682;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    width: max-content;   
}

.category-paper{
    background-color: #96949682;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
   
}
.paper{
background-color: #919695;
background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
padding: 50px 160px;
margin: auto;
}
.form-group{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group input{
    border-radius: 5px;
}

.form-group button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.form-group button:hover{
    background-color: #ecb2ec;
    color: #f1c8a6;
}

.form-group label {
    border-radius: 5px;
}

.login-text {
   /* background-color: #060b0b75; */
    color: #f7fafae2; 
    padding: 5px; 
    border-radius: 8px; 
    display: inline-block;
    margin-left: 23%;
    font-style: italic;

}

.button{
    margin-left: 35%;
}